@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-pagination{
    justify-content: center !important;
}

  .no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


/* Custom styles button */



/* Base button styles applied to all buttons */
.button {
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 0.3s ease;
}

.button.primary {
  background-color: #007bff;
  color: white;
}

.button.primary:hover {
  background-color: #0056b3;
}


.button.destructive {
  background-color: #dc3545;
  color: white;
}

.button.destructive:hover {
  background-color: #c82333;
}

.button.outline {
  background-color: transparent;
  border: 1px solid #6c757d;
  color: #6c757d;
}

.button.outline:hover {
  background-color: #e2e6ea;
  color: #6c757d;
}

/* Style for disabled buttons */
.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}



/* Custom styles input */ 

.form-group {
  margin-bottom: 1rem;
}

.input-label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: #333;
}

.input-base {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.input-base:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

