@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-pagination{
    justify-content: center !important;
}

  .no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
